@font-face {
  font-family: 'tabler-icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('./fonts/tabler-icons-subset.woff2') format('woff2'),
    url('./fonts/tabler-icons-subset.woff') format('woff');
}
.ti {
  font-family: 'tabler-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ti-affiliate:before {
  content: '\edff';
}
.ti-alert-circle:before {
  content: '\ea05';
}
.ti-alert-triangle:before {
  content: '\ea06';
}
.ti-archive:before {
  content: '\ea0b';
}
.ti-arrow-down:before {
  content: '\ea16';
}
.ti-arrow-forward:before {
  content: '\ea17';
}
.ti-arrow-left:before {
  content: '\ea19';
}
.ti-arrow-up:before {
  content: '\ea25';
}
.ti-bell:before {
  content: '\ea35';
}
.ti-brain:before {
  content: '\f59f';
}
.ti-bulb:before {
  content: '\ea51';
}
.ti-chart-bar:before {
  content: '\ea59';
}
.ti-chart-dots:before {
  content: '\ee2f';
}
.ti-check:before {
  content: '\ea5e';
}
.ti-chevron-down:before {
  content: '\ea5f';
}
.ti-chevron-left:before {
  content: '\ea60';
}
.ti-chevron-right:before {
  content: '\ea61';
}
.ti-chevron-up:before {
  content: '\ea62';
}
.ti-circle:before {
  content: '\ea6b';
}
.ti-circle-check:before {
  content: '\ea67';
}
.ti-circle-x:before {
  content: '\ea6a';
}
.ti-clipboard-text:before {
  content: '\f089';
}
.ti-clock:before {
  content: '\ea70';
}
.ti-clock-off:before {
  content: '\f0cf';
}
.ti-cloud-upload:before {
  content: '\ea75';
}
.ti-code:before {
  content: '\ea77';
}
.ti-columns:before {
  content: '\eb83';
}
.ti-copy:before {
  content: '\ea7a';
}
.ti-database:before {
  content: '\ea88';
}
.ti-dots:before {
  content: '\ea95';
}
.ti-download:before {
  content: '\ea96';
}
.ti-edit:before {
  content: '\ea98';
}
.ti-external-link:before {
  content: '\ea99';
}
.ti-eye:before {
  content: '\ea9a';
}
.ti-eye-off:before {
  content: '\ecf0';
}
.ti-file:before {
  content: '\eaa4';
}
.ti-file-diff:before {
  content: '\ecf1';
}
.ti-file-download:before {
  content: '\ea9d';
}
.ti-file-search:before {
  content: '\ed5d';
}
.ti-file-text:before {
  content: '\eaa2';
}
.ti-file-word:before {
  content: '\fef2';
}
.ti-files:before {
  content: '\edef';
}
.ti-focus-2:before {
  content: '\ebd3';
}
.ti-folder:before {
  content: '\eaad';
}
.ti-link:before {
  content: '\eade';
}
.ti-link-off:before {
  content: '\f402';
}
.ti-list:before {
  content: '\eb6b';
}
.ti-loader-2:before {
  content: '\f226';
}
.ti-lock:before {
  content: '\eae2';
}
.ti-markdown:before {
  content: '\ec41';
}
.ti-maximize:before {
  content: '\eaea';
}
.ti-message:before {
  content: '\eaef';
}
.ti-message-2:before {
  content: '\eaec';
}
.ti-messages:before {
  content: '\eb6c';
}
.ti-minimize:before {
  content: '\eaf1';
}
.ti-mood-smile:before {
  content: '\eaf7';
}
.ti-paperclip:before {
  content: '\eb02';
}
.ti-pencil:before {
  content: '\eb04';
}
.ti-photo:before {
  content: '\eb0a';
}
.ti-pin:before {
  content: '\ec9c';
}
.ti-player-stop-filled:before {
  content: '\f695';
}
.ti-plug:before {
  content: '\ebd9';
}
.ti-plus:before {
  content: '\eb0b';
}
.ti-quote:before {
  content: '\efbe';
}
.ti-refresh:before {
  content: '\eb13';
}
.ti-restore:before {
  content: '\fafd';
}
.ti-search:before {
  content: '\eb1c';
}
.ti-settings:before {
  content: '\eb20';
}
.ti-shield:before {
  content: '\eb24';
}
.ti-thumb-down:before {
  content: '\eb3b';
}
.ti-thumb-up:before {
  content: '\eb3c';
}
.ti-timeline:before {
  content: '\f031';
}
.ti-trash:before {
  content: '\eb41';
}
.ti-user:before {
  content: '\eb4d';
}
.ti-world:before {
  content: '\eb54';
}
.ti-x:before {
  content: '\eb55';
}
.ti-zoom-in:before {
  content: '\eb56';
}
.ti-zoom-out:before {
  content: '\eb57';
}
